@{
    var data = (ShowDirectPostViewModel)ViewData["Post"];
}

<div style="margin-bottom: 160px">

                    @foreach (var std3 in ViewData["userimageAuctions"] as IList<UserProfile>)
                {




                    @if (std3.UserId == data.UserId)
                    {


    @if (@data.UserName == User.Identity.Name)
    {
        <div style="display: flex;flex-direction: row;">
            <div style="margin-left: 100%;margin-bottom: 50px;">

                <div class="dropdown">
                    <button class="more-btn btn bg-transparent dropdown-toggle" type="button" id="Notification" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #B7B7B7;"></i>
                    </button>
                    <ul class="dropdown-menu m-3 dropdown-menu-end more-menu overflow-auto" aria-labelledby="More" id="More">


                        <li class="li-more" style="  padding: 5px 10px;height: 50px;}">
                            <a style="padding: 5px 10px;font-size: 1.4rem;" href="/Post/Edit/@data.PostId">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit illustration
                            </a>
                        </li>
                        <li class="li-more" style="  padding: 5px 10px;height: 50px;}">
                            <a style="padding: 5px 10px;font-size: 1.4rem;" href="#popup1">
                                <i class="fa-solid fa-trash-can"></i>
                                Delete illustration
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div id="popup1" class="overlay">
        <div class="">
            <div class="alert-delete">
                <div style="  display: flex;flex-direction: column;}">
                    <div>
                        <p style="text-align: center;margin-top: 40px;">

                            <i class="fa-solid fa-trash-can fa-6x"></i>
                        </p>
                    </div>
                    <div style="margin-top: 20px;">
                        <h1 style="text-align: center;">
                            Do you really want to delete this auction?
                        </h1>

                    </div>
                </div>

                <div style="display: flex;flex-direction: row; margin-top: 40px;">
                    <div class="" style="margin: 0 auto; display: grid;text-align: center;">
                        <a href="/illustration/remove/@data.PostId" class="delete-btn" value="Delete">Delete</a>
                    </div>

                    <div class="" style="margin: 0 auto;">
                        <a class="close cancel-btn" href="#">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="container-xl">
        <div class="row mt-4">
            <div class="text-center col">
                <img src="@Url.Content($"https://adoppix.s3.ap-southeast-1.amazonaws.com/{@data.ImageName}")" class="img-fluid rounded image" id="blah" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">

            </div>
            <div class="col" style="margin-left: 20%; margin-top:60px;">
                        <div style=" display: flex; flex-direction: row; padding: 0 20px;margin-top: -12px;font-size: 1rem;font-weight: bold;">
                            <div>
                                <p>
                                    <img draggable="false" oncontextmenu="return false;" src="@Url.Content($"https://adoppix.s3.ap-southeast-1.amazonaws.com/{@std3.AvatarName}")" style="border-radius: 50%; width: 40px; height: 40px; object-fit: cover; border:1px solid #EDEDED;top: 24%;background: white;" id="blah" />
                                </p>

                            </div>
                            <div>

                                <div style="margin-left: 10px;">
                                    <p style="margin-top: 8px;margin-left: 5px;">
                                        @data.UserName
                                    </p>
                                </div>
                                <div >
                                    <p style="font-weight: bold; font-size:1.2rem;">@data.Title</p>
                                </div>
                                <div>
                                    <p style="font-weight: initial; color: #B0B0B0;">@data.Description</p>
                                </div>
                                <div>
                                    <p style="font-weight: initial; color: #B0B0B0; font-size:0.8rem;">@data.Create</p>
                                </div>
                            </div>
                        </div>

                    </div>
        </div>
    </div>

    }}
</div>

@*<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary fa fa-heart click" type="button" onclick="BTNPress()"></button>
</div> *@

<script>

</script>


<style>

    #more{
    transform: translate(-230px, 52px) !important

    }

    .image {
        box-shadow: 1px 1px 3px lightgray;
        max-height:600px;    
    }


    .click {
        color:blue;
        background-color:white;
        border-color:blue;
    }



    .box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  transition: all 200ms;

  text-decoration: none;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/*    ==================================================================================================*/





    .cancel-btn{
background: lightcoral;
color: white;
padding: 11px 21px;
width: 200px !important;
border-radius: 20px;
border: none;
font-size: 1.5rem;
height: 55px !important;
display: grid;
text-decoration: none;
text-align: center;

    }
    .cancel-btn:hover{
        color:white;

    }
    .delete-btn{
        background: lightgreen;
color: white;
padding: 11px 21px;
width: 200px;
border-radius: 20px;
border: none;
font-size: 1.5rem;
height: 56px;
text-decoration: none;

    }
    a{
        text-decoration: none;
color: black;
    }
    .alert-delete{
        display: flex;
position: absolute;
border: 1px solid lightcyan;
border-radius: 20px;
width: 700px;
height: 400px;
background: white;
box-shadow: 3px 3px 5px lightgray;
left: 28%;
top: 26%;
flex-direction: column;
    }
    .more-menu {
        transition: all 0.5s ease 0s;
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(-210px,32px);
        width: 260px;
        height: 150px;

    }

        .more-menu:before {
            transform: translate(-210px, 12px);
        }

        .more-menu:after {
            transform: translate(-210px, 52px);
        }

    .more-btn {
        border-radius: 10px;
        height: 50px;
        width: 50px;
    }

    .li-more:hover {
        background-color: lightcyan;
        color: white;
        cursor: pointer;
        transition: .5s all;
    }









</style>
@*
<script>
function BTNPress(status){
    if (status == 0){
        document.getElementById("click").style.color = "blue";
        status = 1;
    }
    else(status == 1){
        document.getElementById("click").style.color = "red";
        status = 0;
    }
}
</script> *@